<div *ngIf="user" class="user-profit-layout">
  <div class="information-text">
    <div class="col-md-12 profile">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Edit Profile</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="updateUser()">
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Company (disabled)</label>
                  <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" disabled="" [(ngModel)]="user.company" placeholder="Company">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.email"  placeholder="Email" disabled>
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.password" placeholder="Username">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.firstname" placeholder="Company">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.lastname" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.address" placeholder="Home Address">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.city" placeholder="City">
                </div>
              </div>
              <div class="col-md-6 px-1">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.country" placeholder="Country">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea rows="4" cols="80" class="form-control" [(ngModel)]="user.slogan"[ngModelOptions]="{standalone: true}" placeholder="Here can be your description"></textarea>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="information-image">
    <div class="row">
      <div class="col-sm-8 col-md-6">
        <a class="thumbnail">
          <label for="upload-photo">
            <img src="../../assets/khanh.jpg" alt="...">
          </label>
          <input type="file" name="photo" id="upload-photo" (change)="changeProfit($event)" />
        </a>
      </div>
    </div>
    <div class="name">
      <p>{{user.lastname}} {{user.firstname}}</p>
    </div>
    <div class="username">
      <p>{{user.email}}</p>
    </div>
    <div class="slogan">
      <p>"Lắng nghe, Phân tích, Phát ngôn"</p>
    </div>
  </div>
</div>