.layout-menu{
    width: 100%;
    height: 100vh;
    .header-logo{
        width: 100%;
        height: 10vh;
        border-bottom: 1px solid gainsboro;
        .logo{
            height: 100%;
            text-align: center;
            img{
                width: 131px;
                height: 59.3px;
                margin: 2.5px 0;
            }
        }
    }
    .content{
        margin: 20px auto 0 auto;
        width: 90%;
        height: 74%;
        margin-top: 20px;
        .element-content{
            height: 51px;
            border-radius: 3px;
            margin: 5px;
            display: flex;
            cursor: pointer;
            .role-name{
                flex: 2;
                p{
                    margin-top: 19px;
                    color: white;
                    font-size: 14px;
                }
            }
            .icon{
                flex: 1;
                img{
                    margin-top: 9px;
                    margin-left: 12px;
                }
            }
        }
        .element-content:hover { 
            background-color: rgba(169, 140, 220, 0.671)
        }
        .active{
            background-color: rgba(169, 140, 220, 0.671)
        }
        
    }
    .footer-menu{
        height: 67.19px;
        cursor: pointer;
        .logout{
            height: 67.19px;
            text-align: center;
            background-color: rgba(169, 140, 220, 0.671);
            display: flex;
            .text{
                flex: 1;
                p{
                font-size: 20px;
                color: white;
                margin-top: 20px;
                }
            }
        }
    }
}