.user-profit-layout{
    padding: 0 0 0 15px;
    height: 90vh;
    width: 100%;
    display: flex;
    display: inline-block;
    .clear{
        clear: both;
    }
    .col-md-3{
        padding: 0px;
    }
    .information-image{
        float: left;
        flex: 1;
        height: 280px;
        width: 94.5%;
        background-color: white;
        border: 1px solid rgba(128, 128, 128, 0.425);
        margin: 15px 15px 0 0;
        .row1{
            text-align: center;
            .col-sm-8.col-md-5{
                margin: 15px 30px 10px 95px;
                position: relative;
                .thumbnail{
                    border-radius: 100%;
                    cursor: pointer;
                    width: 130px;
                    height: 130px;
                    margin-left: -46.5px;
                    #upload-photo{
                        opacity: 0;
                        z-index: 0;
                        position: absolute;
                    }
                }
                img{
                    z-index: 1;
                    border-radius: 100%;
                    margin-top: -5px;
                    margin-left: -5px;
                }
            }
        }
        .name{
            text-align: center;
            margin: 0 auto 15px auto;
            p{
                color: rgba(0, 0, 255, 0.671);
            }
        }
        .username{
            text-align: center;
            margin: 15px auto 25px auto;
        }
        .slogan{
            margin: auto;
            text-align: center;
            padding-bottom: 45px;
            width: 90%;
            border-bottom: 1px solid rgba(128, 128, 128, 0.205);
        }
    }

}
